@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap');
*{
/*   border: solid 1px; */
	font-family: 'Noto Serif TC', serif;
  position: relative;
	color:#659fb8;
}
html, body{
  width: 100%;
	height: 100%;
  padding: 0px;
	margin: 0px;
}
body{
  background-color: #e4edf1;
  border-top: solid 50px #7faabd;
  border-bottom: solid 50px #7faabd;
  box-sizing: border-box;
  overflow: hidden;
}
.namecard{
  width: 350px; height: 263px;
	padding:10px;
	padding-left:40px;
	padding-right:40px;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 100px;
  background-color: #eee;
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 5px; 
  box-shadow: 0px 25px 15px -10px rgba(0, 0, 0, 0.15);
}
.page_title{
  text-align: center;
	margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-ms-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 0.5s ease 0s;
}
.page_title:hover {
	-webkit-opacity: 0.3;
	-moz-opacity: 0.3;
	opacity: 0.3;
}
.mark p{
	margin-top: 0px;
  font-size: 120px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(127, 170, 189, 0.1); 
}
.logo{
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-ms-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 0.8s ease 0s;
}
.logo:hover {
	-webkit-opacity: 0.3;
	-moz-opacity: 0.3;
	opacity: 0.3;
}